# I/O
datasheet: 'resources/datasets/meta/test.csv'
output_dir: 'test/output'
cache_dir: 'test/data'
log_dir: 'test/logs'

# Slurm config
resources:
  memory:
    min_mem: 20                 # Minimum RAM (GB)
    default: 100
    max_mem: 220                # Maximum RAM (GB) of default partition

  partitions:
    default: 'genomics'
    high_mem: 'genomics-himem'
    gpu: 'gengpu'
  
  jobs:
    merge_datasets:
        time: '48:00:00'
        mem: '20GB'

    filter_cells_by_efficiency:
        time: '48:00:00'
        threads: 2
